header {
    background-color: orange;
    display: flex;
    align-items: center;
    padding: 10px;
}

header img {
    width: 100px;
}

.region-header {
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: inline-block;

}